.gallery-grid{
  padding: 30px;  
  display:grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-row-gap: 10px; 
  grid-column-gap: 10px;
}




.picture-height-tall{
  grid-row: span 3;
}

.picture-height-small{
  grid-row: span 1;
}

.picture-height-middle{
  grid-row: span 2;
}

.picture-wide{
  grid-column: span 2;
}

@media (max-width:900px){
  .gallery-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .picture-height-tall{
    grid-row: span 2;
  }
}